#wBox .wBox_b {
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
  background-image:url(wbox.gif);
  width:10px;
}
.red{color:#ff0000;}
#wBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  display:none;
}

#wBox .wBox_popup {
  position: relative;
}

#wBox table {
	border-collapse: collapse;
    border-spacing: 0;
}

#wBox td {
  border-bottom: 0;
  padding: 0;
}

#wBox .wBox_body {
  background-color:#ffffff;width: 500px;
}
#wBox .wBox_itemTitle{color: #444;
padding: 12px 13px 7px 15px;
margin: 0;
top: 0;
font-size: 15px;
box-shadow: none;
border-bottom-color: #cdcfd2;
text-shadow: 0 1px 0 #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2');
background-image: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
background-image: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
background-image: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
background-image: -ms-linear-gradient(top, #f7f7f7, #f2f2f2);
background-image: linear-gradient(to bottom, #f7f7f7, #f2f2f2);
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
font-weight: bold;
}
#wBox .wBox_itemTitle{border-bottom:1px solid #cdcfd2;}
#wBox img {
  border: 0;
  margin: 0;
}
#wBox .wBox_title {
  height:28px;
  color:#000000;
  width:100%;
  background:url(titleBG.png) repeat-x;
}
#wBox .wBox_title .wBox_itemTitle{
    padding-left:0;
    overflow:hidden;
	font-size:14px;
font-weight:bold;
}
#wBox .wBox_itemTitle .wBox_close{
    background:url(../images/bg_thickbox.gif) no-repeat 0 -18px;
    height:18px;
    width:18px;
    overflow:hidden;
    cursor:pointer;
}
#wBox .wBox_title .on{
    background-position:0 -14px;
}
#wBox .wBox_tl, #wBox .wBox_tr, #wBox .wBox_bl, #wBox .wBox_br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  background-image:url(wbox.gif);
  padding: 0;
  filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

#wBox #wBoxContent{
	padding:3px;
}
#wBox_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height:750px !important;
  width:100%;
}
#wBox .wBox_load{
	width:270px;
}
.wBox_hide {
  z-index:-100;
}

.wBox_overlayBG {
  background-color: #111;
  z-index: 99;
}
#wBox #wBox_loading{
	width:32px;height:32px;margin:0 auto;
}


.wBox_popup{width:500px;border: 1px solid #cdcfd2;height:325px;border-radius:4px;-webkit-border-radius:4px; }
.table_c{height:243px;background: #fff;padding:20px;}
.table_c b{color:#f50;font-weight: 700;margin:0 3px;}
.table_c .table_input dd{position: relative; overflow: hidden;margin-bottom: 10px;}
.table_c .table_input i{margin-top: 20px;margin-right: 5px;margin-top: 5px;width: 5px;display: inline-block;}
.table_c .table_input .full{margin:5px;width: 160px !important;
border: 1px solid #d8dce5;padding: 0 5px;height: 26px;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7f7f7),color-stop(0%,#f2f2f2),color-stop(10%,#fff),color-stop(100%,#fff));
}
.table_c span{width: 130px;text-align: right;display: inline-block;}
.table_c label{width: 130px;display: inline-block;position: absolute;top:4px;right:5px;}
.table_c .table_input select {margin:5px;width: auto !important;
-webkit-appearance: none;
-moz-appearance: none;
background: #fff url('../images/jquery.selectBox-arrow.gif') no-repeat 97% 50% !important;
line-height: 15px;
padding: 5px 10px 5px 2px;
height: 30px;
font-size: 13px;
border: 1px solid #caccd0;
border-bottom-color: #bdc0c5;
border-radius: 3px;
-moz-box-shadow: : 0 1px 1px rgba(130, 137, 150, 0.12), inset 0 -1px 1px 0px rgba(130, 137, 150, 0.05) !important;
-webkit-box-shadow: 0 1px 1px rgba(130, 137, 150, 0.12), inset 0 -1px 1px 0px rgba(130, 137, 150, 0.05) !important;
box-shadow: 0 1px 1px rgba(130, 137, 150, 0.12), inset 0 -1px 1px 0px rgba(130, 137, 150, 0.05) !important;
}
 .btns-area {
clear: both;
padding: 14px 15px;margin-top: 20px;
border-top: 1px solid #e6e8ea;padding-left: 135px;
}
.btn-save {
font-size: 13px;
border: 1px solid #e27a00;
color: #fff;
height: 32px;
font-weight: bold;
padding: 0 12px;
box-shadow: inset 0 1px 0px rgba(175,207,236,0.2),0 1px 0 rgba(0,0,0,0.11);
background: -webkit-linear-gradient(top, #fc8e20, #ff8c00);
background: -ms-linear-gradient(top, #fc8e20, #ff8c00);
background: -moz-linear-gradient(top, #fc8e20, #ff8c00);
background: -o-linear-gradient(top, #fc8e20, #ff8c00);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8e20',endColorstr='#ff8c00');
border-radius: 2px;
text-shadow: 0 -1px 0 rgba(169,91,0,.75);
}
.btn-cancel {
color: #000;
background: none;
font-size: 13px;
padding: 0 9px;
}






